body {
	font-family: Helvetica, Helvetica Neue, Arial, Verdana, sans-serif
}

canvas,.canvas {
	height: 0
}

iframe {
	border: 0
}

#main {
	overflow: hidden;
	width: 320px;
	position: relative
}

.content-mousewheel {
	height: 416px;
	overflow: hidden
}

a {
	text-decoration: none
}

.relative {
	position: relative !important
}

.invisible {
	visibility: hidden
}

.absolutefixed {
	position: absolute;
	bottom: 0;
	width: 320px;
	z-index: 100
}

.fullheight,.fullheight-withoutnavbar,.height-fullscreen-withoutnavbar,.height-fullscreen-withoutnavbar iframe
	{
	height: 416px
}

.fullscreen {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 320px;
	height: 460px
}

.fullscreen iframe,.height-fullscreen iframe {
	width: 320px;
	height: 460px;
	overflow: hidden
}

.height-fullscreen {
	height: 460px
}

#fake-fullheight,#fake-fullheight-withoutnavbar {
	display: none
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.form,input.form,textarea.form {
	color: #333;
	border: 1px solid #dadada;
	font-size: 14px;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

div.table-cell {
	display: table;
	width: 100%;
	height: 100%
}

div.table-cell .align_middle {
	display: table-cell;
	vertical-align: middle
}

.infuser-loading {
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	left: 124px;
	top: 200px;
	padding: 20px;
	position: fixed;
	text-align: center
}

header.navBar {
	z-index: 500;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-weight: normal;
	background: no-repeat center top;
	background-size: 100%;
	position: relative;
	width: 320px;
	overflow: hidden
}

header.navBar canvas,header.navBar .canvas,header.navBar label {
	cursor: pointer;
	position: absolute;
	left: 8px;
	top: 7px;
	font-size: 10px;
	font-weight: bold
}

header.navBar canvas.right,header.navBar .canvas.right,header.navBar label.right
	{
	left: auto;
	right: 8px
}

header.navBar .button-swipe {
	width: 34px;
	height: 29px;
	line-height: 29px;
	top: 6px
}

header.navBar .button-add,header.navBar .button-edit,header.navBar .button-filter,header.navBar .button-share,header.navBar .button-action
	{
	width: 17px;
	height: 17px;
	padding: 5px 8px
}

header.navBar .button-swipe-classic,header.navBar .button-swipe-rounded,header.navBar .button-swipe-list,header.navBar .button-swipe-list2,header.navBar .button-swipe-list3,header.navBar .button-swipe-grid
	{
	width: 20px;
	height: 15px;
	padding: 7px
}

header.navBar .with_bg.button-swipe-classic,header.navBar .with_bg.button-swipe-rounded,header.navBar .with_bg.button-swipe-list,header.navBar .with_bg.button-swipe-list2,header.navBar .with_bg.button-swipe-list3,header.navBar .with_bg.button-swipe-grid
	{
	width: 18px;
	height: 13px;
	padding: 7px 8px
}

header.navBar .button-swipe-left,header.navBar .button-swipe-right,header.navBar .button-swipe-center,header.navBar .button-swipe-single
	{
	left: 0 !important;
	top: 0 !important;
	width: 34px !important;
	height: 29px !important
}

header.navBar .button-swipe-grid {
	width: 17px;
	height: 17px;
	padding: 6px
}

header.navBar .with_bg.button-swipe-grid {
	width: 15px;
	height: 15px;
	padding: 6px 9px
}

header.navBar .button-back,header.navBar .button-send {
	width: 55px;
	height: 29px;
	line-height: 29px;
	top: 6px
}

header.navBar label.button-back,header.navBar label.button-send {
	display: inline;
	padding-left: 3px;
	width: 55px
}

header.navBar .button-back-chevron {
	width: 14px;
	height: 20px;
	padding: 5px 8px
}

header.navBar .with_bg.button-back-chevron {
	padding: 4px 8px
}

header.navBar .button-back-triangle {
	width: 11px;
	height: 16px;
	padding: 8px 10px
}

header.navBar .with_bg.button-back-triangle {
	padding: 6px 10px
}

header.navBar .button-back-arrow {
	width: 24px;
	height: 21px;
	padding: 4px
}

header.navBar .with_bg.button-back-arrow {
	width: 19px;
	height: 17px;
	padding: 4px 7px
}

header.navBar .button-back-custom {
	width: 30px;
	height: 30px;
	padding: 0
}

header.navBar .flat-border {
	border-right: 01px solid transparent;
	height: 38px;
	padding-top: 8px;
	top: 0;
	left: 0
}

header.navBar .right.flat-border {
	border-left: 01px solid transparent;
	border-right: 0;
	right: 0
}

header.navBar .bg-on-back {
	width: 50px;
	height: 44px;
	display: block;
	float: left
}

header.navBar .button-swipe,header.navBar .button-back,header.navBar label.button-send
	{
	font-family: Helvetica Neue, sans-serif !important;
	text-shadow: none !important
}

header .logo {
	vertical-align: top;
	height: 44px
}

.item-type {
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 18px
}

#root {
	width: 10000px;
	margin-left: -255px;
	height: 460px;
	overflow: hidden
}

#root section {
	float: left;
	width: 320px;
	height: 460px;
	display: block;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 0
}

#root section.menu {
	width: 255px;
	position: relative
}

#root.GBRootControllerTypeLittleSwipe {
	margin-left: -90px
}

#root.GBRootControllerTypeLittleSwipe section.menu {
	width: 90px
}

#root.GBRootControllerTypeLittleSwipe nav.content-mousewheel {
	height: 460px
}

#root.GBRootControllerTypeMetroGrid,#root.nomargin-controller,#root.level0
	{
	margin-left: 0
}

#root.level1 {
	margin-left: -320px
}

.nomargin-controller .content-mousewheel {
	height: 460px
}

.comments {
	background-size: 100% !important
}

.sectionbottom {
	display: none;
	background: #FFF;
	position: absolute;
	top: 0;
	z-index: 501;
	left: 0;
	width: 320px
}

.sectionbottom header.navBar {
	z-index: 502
}

.GBRootControllerTypeFacebookMenu section.menu {
	background-repeat: repeat !important;
	background-position: center left !important
}

.GBRootControllerTypeFacebookMenu section.menu .shadow {
	position: absolute;
	z-index: 500;
	height: 560px;
	right: 0;
	width: 6px;
	background: url(./static/files/swipe-bg-shadow.png) repeat-y
}

.GBRootControllerTypeFacebookMenu section.menu header,.GBRootControllerTypeFacebookMenu section.menu li
	{
	border-bottom: 1px solid transparent;
	background-size: cover
}

.GBRootControllerTypeFacebookMenu section.menu,.GBRootControllerTypeFacebookMenu section.menu header,.GBRootControllerTypeFacebookMenu section.menu a
	{
	background-size: 320px !important
}

.GBRootControllerTypeFacebookMenu section.menu a {
	display: block;
	text-decoration: none;
	position: relative;
	height: 44px
}

.GBRootControllerTypeFacebookMenu section.menu canvas,.GBRootControllerTypeFacebookMenu section.menu .canvas
	{
	float: left;
	width: 21px;
	height: 21px;
	margin-right: 15px
}

.GBRootControllerTypeFacebookMenu section.menu .padding {
	padding: 12px
}

.GBRootControllerTypeFacebookMenu section.menu header.item {
	height: 43px;
	line-height: 43px;
	padding: 0 12px
}

#root.GBRootControllerTypeLittleSwipe section.menu {
	background-repeat: no-repeat !important;
	background-position: center left !important;
	text-align: center;
	background-size: cover !important
}

.GBRootControllerTypeLittleSwipe section.menu .shadow {
	position: absolute;
	z-index: 500;
	height: 603px;
	right: 0;
	width: 6px;
	background: url(/static/files/swipe-bg-shadow.png) repeat-y
}

.GBRootControllerTypeLittleSwipe section.menu header,.GBRootControllerTypeLittleSwipe section.menu li
	{
	border-bottom: 1px solid transparent;
	background-size: auto 100%
}

.GBRootControllerTypeLittleSwipe section.menu,.GBRootControllerTypeLittleSwipe section.menu header,.GBRootControllerTypeLittleSwipe section.menu a
	{
	background-size: 90px !important
}

.GBRootControllerTypeLittleSwipe section.menu a {
	display: block;
	text-decoration: none;
	position: relative;
	height: 90px;
	line-height: 1em
}

.GBRootControllerTypeLittleSwipe section.menu canvas,.GBRootControllerTypeLittleSwipe section.menu .canvas
	{
  display: block;
    height: 82px;
    margin: -15px auto 0;
    width: 82px;
}

.GBRootControllerTypeLittleSwipe section.menu .padding {
	padding: 12px 6px
}

.GBRootControllerTypeLittleSwipe section.menu a span {
	position: absolute;
	bottom: 10px;
	width: 90px;
	left: 0
}

.GBRootControllerTypeLittleSwipe section.menu .nolabel a span {
	display: none
}

.GBRootControllerTypeLittleSwipe section.menu .nolabel canvas,.GBRootControllerTypeLittleSwipe section.menu .nolabel .canvas
	{
	width: 38px;
	height: 38px;
	margin-top: 12px
}

.GBRootControllerTypeCustomTabBar .main-content {
	padding-bottom: 41px
}

.GBRootControllerTypeCustomTabBar .absolutefixed {
	position: absolute
}

.GBRootControllerTypeCustomTabBar nav.menu table {
	background-size: 100%;
	z-index: 101
}

.GBRootControllerTypeCustomTabBar nav.menu table td {
	text-align: center;
	vertical-align: middle
}

.GBRootControllerTypeCustomTabBar nav.menu table td a {
	background-size: 100% 100%;
	height: 49px;
	width: 100%;
	text-align: center;
	display: block;
	font-size: 10px !important;
	font-family: Helvetica neue Medium, Helvetica neue, sans-serif;
	padding: 0
}

.GBRootControllerTypeCustomTabBar nav.menu table td canvas,.GBRootControllerTypeCustomTabBar nav.menu table td .canvas
	{
	display: block;
	cursor: pointer;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	padding-top: 6px;
	margin-bottom: 2px
}

.GBRootControllerTypeCustomTabBar nav.menu table td img {
	height: 49px
}

body.iphone .GBRootControllerTypeClassicTabBar nav.menu table {
	background: #f8f8f8 !important;
	border-top: 1px solid #b2b2b2
}

body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a canvas,body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a .canvas
	{
	list-style-image: none !important;
	color: #929292 !important
}

body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a span
	{
	color: #929292 !important;
	font-family: Helvetica neue Light, Helvetica neue, sans-serif !important
}

body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a.selected span
	{
	color: #157dfb !important
}

body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a.selected canvas,body.iphone .GBRootControllerTypeClassicTabBar nav.menu table td a.selected .canvas
	{
	color: #157dfb !important
}

body.iphone .GBRootControllerTypeClassicTabBar #other-sections {
	background: #FFF !important
}

body.iphone .GBRootControllerTypeClassicTabBar #other-sections a {
	border-bottom: 1px solid #000 !important
}

body.iphone .GBRootControllerTypeClassicTabBar #other-sections a canvas,body.iphone .GBRootControllerTypeClassicTabBar #other-sections a .canvas
	{
	color: #000 !important
}

body.iphone .GBRootControllerTypeClassicTabBar #other-sections a span {
	font: 13px "Helvetica neue Medium" !important;
	color: #000 !important
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table {
	background: #333 !important
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table td a {
	height: 46px
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table td a canvas,body.android .GBRootControllerTypeClassicTabBar nav.menu table td a .canvas
	{
	list-style-image: none !important;
	color: #999 !important
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table td a span
	{
	background: transparent !important;
	color: #999 !important
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table td a.selected span
	{
	color: #fff !important
}

body.android .GBRootControllerTypeClassicTabBar nav.menu table td a.selected canvas,body.android .GBRootControllerTypeClassicTabBar nav.menu table td a.selected .canvas
	{
	color: #fff !important
}

.GBRootControllerTypeCustomTabBar .fullheight,.GBRootControllerTypeClassicTabBar .fullheight
	{
	height: 367px
}

.GBRootControllerTypeCustomTabBar .fullheight-withoutnavbar,.GBRootControllerTypeClassicTabBar .fullheight-withoutnavbar
	{
	height: 416px
}

#other-sections {
	width: 320px;
	height: 460px;
	background-size: 100%
}

#other-sections a {
	display: block;
	padding: 10px;
	line-height: 22px
}

#other-sections a canvas,#other-sections a .canvas {
	width: 18px;
	height: 18px;
	vertical-align: middle;
	margin-right: 6px;
	margin-bottom: 4px
}

#root.GBRootControllerTypeMetroGrid.section-selected section.grid {
	visibility: hidden
}

#root.GBRootControllerTypeMetroGrid.section-selected {
	margin-left: -320px
}

.GBRootControllerTypeMetroGrid {
	background-size: 320px
}

.GBRootControllerTypeMetroGrid section .grid-list {
	z-index: 1000;
	padding: 0 0 0 12px;
	width: 10000px;
	overflow-x: hidden
}

.GBRootControllerTypeMetroGrid section .grid-list .column {
	float: left
}

.GBRootControllerTypeMetroGrid section .grid-list a {
	text-align: center;
	display: block;
	position: relative;
	margin: 12px 12px 12px 0;
	width: 220px;
	height: 123px;
	background-size: 100%
}

.GBRootControllerTypeMetroGrid section .grid-list a span {
	position: absolute;
	bottom: 0;
	padding: 0 .5em;
	line-height: 1.8em;
	left: 0
}

.GBRootControllerTypeMetroGrid section .grid-list canvas,.GBRootControllerTypeMetroGrid section .grid-list .canvas
	{
	width: 55px;
	height: 55px;
	margin-top: 25px
}

.GBCategoriesTemplateTypeFilters .subsections {
	position: absolute;
	top: 0;
	width: 320px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 500
}

.GBCategoriesTemplateTypeFilters .subsections .filter {
	background: #222;
	width: 205px;
	min-height: 270px;
	margin: 0 auto;
	margin-top: 100px;
	-moz-box-shadow: 0 5px 3px #000;
	box-shadow: 0 5px 3px #000;
	-webkit-box-shadow: 0 5px 3px #000
}

.GBCategoriesTemplateTypeFilters .subsections .filter li {
	border-bottom: 1px solid #2e2d2d;
	margin: 0 6px
}

.GBCategoriesTemplateTypeFilters .subsections .filter a {
	text-align: center;
	font-size: 12px;
	display: block;
	color: #9b9b9b;
	text-shadow: 0 1px 1px #000;
	border-bottom: 1px solid #151515;
	padding: 10px
}

.GBCategoriesTemplateTypeFilters .subsections .filter a:hover,.GBCategoriesTemplateTypeFilters .subsections .filter a.selected
	{
	color: #FFF
}

.GBCategoriesTemplateTypeFilters .subsections .light {
	background: url(../img/iphone/bg-filter-light.png);
	background-size: 100%
}

.GBCategoriesTemplateTypeFilters .subsections .light a {
	color: #333;
	text-shadow: 0 1px 1px #FFF;
	border-bottom: 1px solid #d2d2d2
}

.GBCategoriesTemplateTypeFilters .subsections .light li {
	border-bottom: 1px solid #f5f5f5
}

.GBCategoriesTemplateTypeFilters .subsections .light a:hover,.GBCategoriesTemplateTypeFilters .subsections .light a.selected
	{
	color: #000
}

.GBCategoriesTemplateTypeList .subsections {
	width: 320px;
	float: left
}

.GBCategoriesTemplateTypeList a {
	display: block
}

.GBCategoriesTemplateTypeList span {
	display: block;
	padding: 10px 8px
}

.content-mousewheel-GBCategoriesTemplateTypeCircleBand {
	height: 380px
}

.content-mousewheel-GBSearchTemplate {
	height: 372px
}

.content-mousewheel-GBCategoriesTemplateTypeCircleBand.content-mousewheel-GBSearchTemplate
	{
	height: 336px
}

.GBRootControllerTypeCustomTabBar .content-mousewheel-GBCategoriesTemplateTypeCircleBand
	{
	height: 331px
}

.GBRootControllerTypeCustomTabBar .content-mousewheel-GBSearchTemplate {
	height: 323px
}

.GBRootControllerTypeCustomTabBar .content-mousewheel-GBCategoriesTemplateTypeCircleBand.content-mousewheel-GBSearchTemplate
	{
	height: 287px
}

.GBCategoriesTemplateTypeCircleBand .subsections {
	overflow: hidden
}

.GBCategoriesTemplateTypeCircleBand .subsections ul {
	height: 38px;
	width: 1000px
}

.GBCategoriesTemplateTypeCircleBand .subsections li {
	display: block;
	float: left
}

.GBCategoriesTemplateTypeCircleBand .subsections li a {
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 0 12px
}

header.GBSearchTemplate {
	height: 44px;
	position: relative;
	text-align: left;
	z-index: 499
}

header.GBSearchTemplate label {
	text-align: center
}

header.GBSearchTemplate .button-send {
	top: 8px
}

header.GBSearchTemplate .search-input {
	background: #FFF url(../img/iphone/search-magnifying.png) no-repeat 10px
		7px;
	background-size: 14px 15px;
	font-size: 14px;
	padding: 5px 30px 6px 30px;
	border-radius: 16px;
	width: 168px;
	margin: 8px 0 10px 10px;
	border: 1px solid #a8a8a8;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-box-shadow: inset 2px 2px 2px 0 #a8a8a8;
	-moz-box-shadow: inset 2px 2px 2px 0 #a8a8a8;
	box-shadow: inset 2px 2px 2px 0 #ddd
}

header.GBSearchTemplate .search-close {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 19px;
	height: 19px;
	top: 14px;
	left: 214px
}

.GBNullTemplate article.noitems h2 {
	background: url(../img/noSection.png) no-repeat center 87px;
	padding-top: 250px;
	background-size: 155px
}

.GBArticleListTemplateTypeClassic a {
	display: block
}

.GBArticleListTemplateTypeClassic article {
	padding: 7px
}

.GBArticleListTemplateTypeClassic article h2 {
	margin-bottom: 2px
}

.GBArticleListTemplateTypeClassic article h2 span {
	display: block;
	line-height: 1.2em;
	overflow: hidden;
	max-height: 2.4em
}

.GBArticleListTemplateTypeClassic article.first h2 span {
	font-size: 1.2em;
	line-height: 1.2em;
	max-height: inherit;
	overflow: visible
}

.GBArticleListTemplateTypeClassic article .photo {
	float: left;
	position: relative;
	width: 74px;
	height: 74px;
	line-height: 74px;
	background: no-repeat center center;
	text-align: center
}

.GBArticleListTemplateTypeClassic article .photo-169 .photo {
	width: 120px
}

.GBArticleListTemplateTypeClassic article.right .photo {
	float: right
}

.GBArticleListTemplateTypeClassic article .infos {
	margin: 0 0 0 84px
}

.GBArticleListTemplateTypeClassic article .photo-169 .infos {
	margin: 0 0 0 130px
}

.GBArticleListTemplateTypeClassic article.right .infos {
	margin: 0 84px 0 0
}

.GBArticleListTemplateTypeClassic article.right .photo-169 .infos {
	margin: 0 130px 0 0
}

.GBArticleListTemplateTypeClassic article.none .photo {
	display: none
}

.GBArticleListTemplateTypeClassic article.none .infos {
	margin: 0 !important
}

.GBArticleListTemplateTypeClassic article .subtitle {
	max-height: 4.2em;
	overflow: hidden
}

.GBArticleListTemplateTypeSlideShow .GBArticleListTemplateTypeClassic article h2
	{
	margin: 2px 0 0 0
}

.GBArticleListTemplateTypeSlideShow .slideshow .photo {
	position: relative;
	background: no-repeat top center;
	background-size: cover !important;
	text-align: center
}

.GBArticleListTemplateTypeSlideShow .slideshow .subtitle {
	display: none
}

.GBArticleListTemplateTypeSlideShow .slideshow .infos {
	padding: 5px 8px;
	position: absolute;
	bottom: 0;
	width: 100%
}

.GBArticleListTemplateTypeSlideShow .slideshow .infos .pager {
	text-align: center;
	word-spacing: -1px;
	line-height: 18px
}

.GBArticleListTemplateTypeSlideShow .slideshow .infos .pager span {
	border-radius: 8px 8px 8px 8px;
	border: 1px solid transparent;
	margin: 0 2px;
	display: inline-block;
	width: 8px;
	height: 8px;
	line-height: 8px !important;
	padding: 0 !important
}

.section-GBArticleListTemplateTypeSlideShow .content-mousewheel,.section-GBArticleListTemplateTypeSlideShow .content-role
	{
	margin: 0 !important
}

.GBArticleListTemplateTypeClassic.une article .photo-169 .photo {
	width: 100px;
	height: 62px;
	line-height: 62px
}

.GBArticleListTemplateTypeClassic.une article .photo-169 .infos {
	margin: 0 0 0 110px
}

.GBArticleListTemplateTypeClassic.une article.first .photo {
	width: 120px;
	height: 120px;
	line-height: 120px
}

.GBArticleListTemplateTypeClassic.une article.first .photo-169 .photo {
	width: 135px;
	height: 84px;
	line-height: 84px
}

.GBArticleListTemplateTypeClassic.une article.first .infos {
	margin: 0 0 0 130px
}

.GBArticleListTemplateTypeClassic.une article.first .photo-169 .infos {
	margin: 0 0 0 145px
}

.GBArticleListTemplateTypeClassic.une article.right .photo-169 .infos {
	margin: 0 110px 0 0
}

.GBArticleListTemplateTypeClassic.une article.right.first .infos {
	margin: 0 130px 0 0
}

.GBArticleListTemplateTypeClassic.une article.right.first .photo-169 .infos
	{
	margin: 0 145px 0 0
}

.list-video article .photo-169 .photo {
	height: 67px !important;
	line-height: 67px !important
}

.list-video.une article .photo-169 .photo {
	height: 56px !important;
	line-height: 56px !important
}

.list-video.une article.first .photo-169 .photo {
	height: 76px !important;
	line-height: 76px !important
}

.GBArticleListTemplateTypeUneGrid a {
	display: block
}

.GBArticleListTemplateTypeUneGrid a.half-left {
	float: left
}

.GBArticleListTemplateTypeUneGrid a.half-right {
	float: right
}

.GBArticleListTemplateTypeUneGrid article {
	padding: 6px;
	margin-bottom: 8px
}

.GBArticleListTemplateTypeUneGrid article .photo {
	position: relative;
	background: no-repeat center center;
	width: 100%;
	margin-bottom: 10px;
	text-align: center
}

.GBArticleListTemplateTypeUneGrid article.first .photo {
	background-size: 100%;
	height: 115px !important;
	line-height: 115px !important
}

.GBArticleListTemplateTypeUneGrid article.first h2 span {
	font-size: 1.2em
}

.GBArticleListTemplateTypeUneGrid article h2 {
	margin-bottom: 5px
}

.GBArticleListTemplateTypeUneGrid a.list .photo {
	width: 120px;
	height: 74px;
	line-height: 74px;
	float: left;
	text-align: center
}

.GBArticleListTemplateTypeUneGrid a.list .infos {
	margin-left: 130px
}

.GBArticleListTemplateTypeGrid a {
	display: block;
	float: right
}

.GBArticleListTemplateTypeGrid a.half-left {
	float: left
}

.GBArticleListTemplateTypeGrid article {
	margin-bottom: 12px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
}

.GBArticleListTemplateTypeGrid article .infos {
	padding: 6px
}

.GBArticleListTemplateTypeGrid article .photo {
	position: relative;
	background: no-repeat center center;
	width: 100%;
	text-align: center
}

.GBArticleListTemplateTypeGrid article .photo.default-thumb {
	background-size: auto 100% !important
}

.GBArticleListTemplateTypeVisuels article {
	margin-bottom: 15px
}

.GBArticleListTemplateTypeVisuels article .infos {
	position: relative;
	padding: 10px
}

.GBArticleListTemplateTypeVisuels article .photo {
	position: relative;
	background: no-repeat center center;
	background-size: 100% !important;
	width: 100%;
	height: 145px;
	line-height: 145px;
	text-align: center
}

.GBArticleListTemplateTypeVisuels canvas.arrow-top,.GBArticleListTemplateTypeVisuels .canvas.arrow-top
	{
	position: absolute;
	top: -10px;
	left: -5px;
	width: 18px;
	height: 10px;
	margin-left: 15px;
	vertical-align: bottom
}

.GBArticleListTemplateTypeMinimalPhotos .bg {
	cursor: pointer;
	background-position: center;
	background-size: cover;
	position: relative
}

.GBArticleListTemplateTypeMinimalPhotos .text {
	position: absolute;
	bottom: 50px
}

.GBArticleListTemplateTypeMinimalPhotos h2 {
	margin-top: 5px;
	padding-left: 10px;
	width: 230px
}

.GBArticleListTemplateTypeMinimalPhotos h2 span {
	font-weight: 300;
	font-size: 22px;
	line-height: 30px;
	padding: 2px 10px 2px 0;
	white-space: pre-wrap;
	box-shadow: -10px 0 0 transparent
}

.GBArticleListTemplateTypeMinimalPhotos .subtitle {
	padding: 2px 10px
}

.GBArticleListTemplateTypeMinimalColor .bg {
	cursor: pointer;
	position: relative
}

.GBArticleListTemplateTypeMinimalColor .infos {
	padding: 0 10px 0 30px
}

.GBArticleListTemplateTypeMinimalColor h2 {
	font-weight: 300;
	font-size: 24px !important
}

.video-play {
	width: 28px
}

.video-play.big {
	width: 56px
}

.video-camera {
	position: absolute;
	bottom: 4px;
	left: 4px;
	width: 18px
}

.video-camera.big {
	width: 36px
}

.video-duration {
	position: absolute;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid transparent;
	bottom: 4px;
	left: 4px;
	font-size: 8px;
	height: 8px;
	line-height: 8px;
	padding: 2px;
	color: #FFF;
	background: rgba(0, 0, 0, 0.40)
}

article.detail-article {
	padding: 8px
}

article.detail-article div {
	width: auto !important
}

article.detail-article hr {
	border: 0;
	margin: 8px 0
}

article.detail-article .content h1,article.detail-article .content h2,article.detail-article .content h3,article.detail-article .content h4
	{
	font-weight: bold
}

article.detail-article p {
	margin: 10px 0
}

article.detail-article img,article.detail-article video,article.detail-article object,article.detail-article embed,article.detail-article iframe
	{
	max-width: 100% !important;
	height: auto !important;
	margin: 5px 0 10px 0
}

article.detail-article .embed-video object,article.detail-article .embed-video embed,article.detail-article iframe
	{
	width: 100% !important;
	height: auto !important
}

article.detail-article ul {
	list-style: disc inside;
	margin: 1em 0 1em 1.5em
}

article.detail-article .wp-caption-text {
	margin-top: 0;
	margin-bottom: 15px;
	font-style: italic;
	text-align: center;
	font-size: .8em
}

.GBArticleDetailTemplateTypeClassic article.detail-article {
	padding-bottom: 52px
}

.GBArticleDetailTemplateTypeClassic h1 {
	margin-bottom: 5px
}

.GBArticleDetailTemplateTypeClassic {
	position: relative
}

.GBArticleDetailTemplateTypeClassic .absolutefixed {
	height: 44px;
	background-size: 100%
}

.GBArticleDetailTemplateTypeClassic table.toolbar {
	z-index: 101
}

.GBArticleDetailTemplateTypeClassic table.toolbar td {
	text-align: center;
	vertical-align: middle;
	padding-top: 4px
}

.GBArticleDetailTemplateTypeClassic table.toolbar td canvas,.GBArticleDetailTemplateTypeClassic table.toolbar td .canvas
	{
	cursor: pointer;
	width: 36px;
	height: 36px
}

.GBArticleDetailTemplateTypeToolBarSlide h1,.GBArticleDetailTemplateTypeToolBarSwipe h1
	{
	margin-bottom: 5px
}

.GBArticleDetailTemplateTypeToolBarSlide,.GBArticleDetailTemplateTypeToolBarSwipe
	{
	position: relative
}

.GBArticleDetailTemplateTypeToolBarSlide .absolutefixedright {
	position: absolute;
	background-size: cover;
	width: 56px;
	margin-top: -416px;
	text-align: center
}

.GBArticleDetailTemplateTypeToolBarSlide .item-button,.GBArticleDetailTemplateTypeToolBarSwipe .item-button
	{
	line-height: 1em;
	padding: 5px 0
}

.GBArticleDetailTemplateTypeToolBarSlide .toolbar canvas,.GBArticleDetailTemplateTypeToolBarSlide .toolbar .canvas,.GBArticleDetailTemplateTypeToolBarSwipe .toolbar canvas,.GBArticleDetailTemplateTypeToolBarSwipe .toolbar .canvas
	{
	cursor: pointer;
	width: 36px;
	height: 36px
}

.GBArticleDetailTemplateTypeToolBarSwipe-encapse {
	float: left;
	width: 320px
}

.GBArticleDetailTemplateTypeToolBarSwipe-encapse-toolbar {
	float: left;
	width: 56px;
	position: relative;
	background-size: cover
}

.GBArticleDetailTemplateTypeToolBarSwipe .absolutefixedright {
	width: 56px;
	position: absolute;
	text-align: center
}

.GBArticleDetailTemplateTypeToolBarUp,.GBPhotoDetailTemplateTypeToolBarUp
	{
	position: relative
}

.GBArticleDetailTemplateTypeToolBarUp article.detail-article {
	padding-bottom: 26px
}

.toolbarup {
	float: right;
	margin-right: 8px
}

.toolbarup .encapse {
	position: relative;
	display: inline-block;
	float: left;
	width: 35px;
	height: 27px;
	margin-top: 6px
}

.toolbarup .encapse.marginleft {
	margin-left: 8px
}

.toolbarup .encapse.marginleft.separator {
	border-left: 01px solid transparent
}

.toolbarup .encapse.marginright {
	margin-right: 8px
}

.toolbarup .encapse.marginright.separator {
	border-right: 01px solid transparent;
	padding-right: 8px
}

.toolbarup .encapse canvas,.toolbarup .encapse .canvas {
	left: 4px;
	top: 2px;
	position: absolute;
	width: 25px;
	height: 25px
}

.toolbarup .encapse.separator canvas,.toolbarup .encapse.separator .canvas
	{
	left: 8px
}

.toolbarup .with_bg.button-swipe-left,.toolbarup .with_bg.button-swipe-center
	{
	border-right: 1px solid transparent
}

.toolbar-withtitle {
	position: absolute;
	right: 8px;
	top: 0
}

.toolbar-withtitle .toolbarup {
	float: none;
	margin-right: 0
}

.with-toolbar-right {
	margin-right: 20px
}

.GBArticleDetailTemplateTypeToolBarUp .absolutefixed {
	height: 18px
}

.GBArticleDetailTemplateTypeToolBarUp .pager {
	text-align: center;
	word-spacing: -1px;
	line-height: 18px;
	font-size: 11px
}

.GBArticleDetailTemplateTypeToolBarUp .pager a {
	border-radius: 12px 12px 12px 12px;
	border: 1px solid transparent;
	display: inline-block;
	width: 6px;
	height: 6px;
	line-height: 6px !important;
	margin: 0 1px;
	padding: 0 !important;
	text-decoration: none !important
}

.GBPhotoDetailTemplateTypeToolBarUp .fullheight-withoutnavbar,.GBPhotoDetailTemplateTypeClassic .fullheight-withoutnavbar
	{
	line-height: 361px
}

.GBPhotoDetailTemplateTypeToolBarUp img.detail-photo {
	width: 100%
}

.GBPhotoDetailTemplateTypeToolBarUp .absolutefixed {
	height: 55px;
	overflow: hidden
}

.GBPhotoDetailTemplateTypeToolBarUp .absolutefixed .description {
	padding: 5px
}

.GBPhotoDetailTemplateTypeClassic img.detail-photo {
	width: 100%
}

.GBPhotoDetailTemplateTypeClassic .absolute-toolbar {
	height: 30px
}

.GBPhotoDetailTemplateTypeClassic .absolute-toolbar canvas,.GBPhotoDetailTemplateTypeClassic .absolute-toolbar .canvas
	{
	cursor: pointer;
	width: 28px;
	height: 28px;
	float: left;
	margin-right: 4px
}

.GBPhotoDetailTemplateTypeClassic .absolute-description {
	bottom: 30px;
	height: 55px;
	overflow: hidden
}

.GBPhotoDetailTemplateTypeClassic .absolute-description .description {
	padding: 5px
}

.GBPhotoDetailTemplateTypeClassic .absolute-toolbar canvas.iconFavoris,.GBPhotoDetailTemplateTypeClassic .absolute-toolbar .canvas.iconFavoris
	{
	float: right;
	margin-right: 0
}

.GBPhotoDetailTemplateTypeClassic .absolute-toolbar canvas.iconPlay,.GBPhotoDetailTemplateTypeClassic .absolute-toolbar .canvas.iconPlay
	{
	float: none;
	position: absolute;
	left: 146px;
	margin: 0
}

.GBPhotoDetailTemplateTypeClassic .toolbarup-other {
	padding: 1px 4px 0 4px;
	text-align: center
}

.GBAgendaDetailTemplateTypeToolbarUp .address,.GBAgendaDetailTemplateTypeToolbarUp .date
	{
	display: block;
	margin-top: 8px
}

.GBAgendaDetailTemplateTypeToolbarUp article {
	margin-bottom: 10px
}

.GBAgendaDetailTemplateTypeToolbarUp article .photo {
	position: relative;
	float: left;
	width: 100px
}

.GBAgendaDetailTemplateTypeToolbarUp article .infos {
	margin-left: 110px
}

.GBAgendaDetailTemplateTypeToolbarUp article .url {
	line-height: 1.3em;
	color: auto;
	margin-top: 10px
}

.GBAgendaDetailTemplateTypeToolbarUp article .div-button {
	float: left;
	margin-top: 10px;
	height: 34px;
	position: relative
}

.GBAgendaDetailTemplateTypeToolbarUp article .div-button.right {
	float: right
}

.GBAgendaDetailTemplateTypeToolbarUp article .div-button canvas.button-event,.GBAgendaDetailTemplateTypeToolbarUp article .div-button .canvas.button-event
	{
	position: absolute;
	height: 34px;
	width: 145px
}

.GBAgendaDetailTemplateTypeToolbarUp article .div-button label {
	position: absolute;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	display: block;
	text-align: center;
	font-weight: bold
}

.GBAgendaDetailTemplateTypeToolbarUp article .div-button canvas.tel-button-event,.GBAgendaDetailTemplateTypeToolbarUp article .div-button .canvas.tel-button-event,.GBAgendaDetailTemplateTypeToolbarUp article .div-button canvas.map-button-event,.GBAgendaDetailTemplateTypeToolbarUp article .div-button .canvas.map-button-event
	{
	position: absolute;
	width: 16px;
	height: 18px;
	top: 7px;
	left: 7px
}

.GBAgendaDetailTemplateTypeToolbarUp .div-map {
	margin: 10px 0
}

.GBAgendaDetailTemplateTypeToolbarUp .div-map canvas,.GBAgendaDetailTemplateTypeToolbarUp .div-map .canvas
	{
	height: auto
}

.GBAgendaDetailTemplateTypeToolbarUp .div-map .map {
	height: 200px;
	position: relative
}

.GBCommentTemplateTypeClassic .list-comments {
	padding: 8px
}

.GBCommentTemplateTypeClassic .list-comments .infos {
	line-height: 12px
}

.GBCommentTemplateTypeClassic .list-comments .infos .author {
	font-size: 14px !important
}

.GBCommentTemplateTypeClassic .list-comments .infos .date {
	font-size: 14px !important
}

.GBCommentTemplateTypeClassic .list-comments canvas.arrow-top,.GBCommentTemplateTypeClassic .list-comments .canvas.arrow-top
	{
	width: 18px;
	height: 10px;
	margin-left: 15px;
	vertical-align: bottom
}

.GBCommentTemplateTypeClassic .list-comments p {
	padding: 8px;
	margin-bottom: 20px
}

.GBCommentTemplateTypeClassic .list-comments a {
	color: inherit;
	font-weight: bold;
	text-decoration: underline
}

.GBCommentTemplateTypeClassic article.noitems h2 {
	background: url(../img/noComment.png) no-repeat center 87px;
	padding-top: 250px;
	background-size: 155px
}

.GBBookmarkListTemplateTypeClassic article.noitems h2 {
	background: url(../img/noBookmark.png) no-repeat center 87px;
	padding-top: 250px;
	background-size: 155px
}

.GBTwitterListTemplateTypeClassic article {
	padding: 10px 6px;
	position: relative
}

.GBTwitterListTemplateTypeClassic article canvas,.GBTwitterListTemplateTypeClassic article .canvas
	{
	float: left;
	padding-top: 4px;
	height: 24px;
	width: 24px
}

.GBTwitterListTemplateTypeClassic article .infos {
	margin-left: 32px
}

.GBTwitterListTemplateTypeClassic article canvas.triangle-tweet,.GBTwitterListTemplateTypeClassic article .canvas.triangle-tweet
	{
	float: none;
	cursor: pointer;
	position: absolute;
	bottom: -1px;
	right: 0;
	width: 32px;
	height: 32px
}

.GBTwitterListTemplateTypeClassic article canvas.retweet,.GBTwitterListTemplateTypeClassic article .canvas.retweet
	{
	float: none;
	cursor: pointer;
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 12px;
	height: 12px
}

.GBTwitterListTemplateTypePhoto article {
	padding: 10px;
	position: relative
}

.GBTwitterListTemplateTypePhoto article h2 {
	margin-bottom: 2px
}

.GBTwitterListTemplateTypePhoto article img {
	float: left;
	width: 48px;
	height: 48px;
	border-radius: 4px 4px 4px 4px
}

.GBTwitterListTemplateTypePhoto article .infos {
	margin-left: 58px
}

.GBTwitterListTemplateTypePhoto article time {
	float: right;
	margin-right: 5px
}

.GBTwitterListTemplateTypePhoto article canvas.triangle-tweet,.GBTwitterListTemplateTypePhoto article .canvas.triangle-tweet
	{
	cursor: pointer;
	position: absolute;
	bottom: -1px;
	right: 0;
	width: 32px;
	height: 32px
}

.GBTwitterListTemplateTypePhoto article canvas.retweet,.GBTwitterListTemplateTypePhoto article .canvas.retweet
	{
	cursor: pointer;
	position: absolute;
	bottom: 3px;
	right: 3px;
	width: 12px;
	height: 12px
}

.section-GBTwitterListTemplateTypeSingle .content-mousewheel {
	margin-left: 0 !important;
	margin-right: 0 !important
}

.GBTwitterListTemplateTypeSingle .slideshow {
	z-index: 1000;
	width: 10000px;
	overflow-x: hidden
}

.GBTwitterListTemplateTypeSingle .slideshow .column {
	float: left;
	width: 320px
}

.GBTwitterListTemplateTypeSingle article {
	padding: 10px
}

.GBTwitterListTemplateTypeSingle canvas.quote1,.GBTwitterListTemplateTypeSingle .canvas.quote1
	{
	width: 29px;
	height: 23px;
	float: left
}

.GBTwitterListTemplateTypeSingle .infos {
	margin-left: 35px;
	margin-top: 8px
}

.GBTwitterListTemplateTypeSingle .infos h2 .title {
	font-size: 1.5em !important
}

.GBTwitterListTemplateTypeSingle .infos h2 a {
	font-size: 1em !important
}

.GBTwitterListTemplateTypeSingle canvas.quote2,.GBTwitterListTemplateTypeSingle .canvas.quote2
	{
	width: 16px;
	height: 14px;
	position: absolute;
	right: 0;
	bottom: 0
}

.GBTwitterListTemplateTypeSingle canvas.arrow-bottom,.GBTwitterListTemplateTypeSingle .canvas.arrow-bottom
	{
	width: 29px;
	height: 29px;
	margin-top: -1px;
	margin-left: 40px
}

.GBTwitterListTemplateTypeSingle canvas.tweet,.GBTwitterListTemplateTypeSingle .canvas.tweet
	{
	cursor: pointer;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 10px;
	top: 8px
}

.GBTwitterListTemplateTypeSingle canvas.retweet,.GBTwitterListTemplateTypeSingle .canvas.retweet
	{
	cursor: pointer;
	width: 23px;
	height: 23px;
	position: absolute;
	right: 0;
	top: 8px
}

.GBTwitterListTemplateTypeSingle canvas.reply,.GBTwitterListTemplateTypeSingle .canvas.reply
	{
	cursor: pointer;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 35px;
	top: 8px
}

.GBMapListTemplateTypeClassic canvas,.GBMapListTemplateTypeClassic .canvas
	{
	height: auto
}

.GBMapListTemplateTypeClassic .infobox-wrapper {
	display: none
}

.GBMapListTemplateTypeClassic .infowindow {
	opacity: .9;
	width: 280px;
	line-height: 16px;
	font-weight: 200;
	color: #000
}

.GBMapListTemplateTypeClassic .infowindow h3 {
	overflow: hidden;
	font-size: 17px;
	line-height: 24px;
	font-weight: 300;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important
}

.GBMapListTemplateTypeClassic .infowindow .footer {
	bottom: 02px;
	position: relative;
	background: url(../img/iphone/map-infowindow-arrow.png) no-repeat center;
	background-size: auto 100%;
	height: 13px
}

.GBMapListTemplateTypeClassic .infowindow .content {
	max-height: 56px;
	padding: 2px 10px 4px 10px;
	overflow: hidden;
	border: 1px solid #dcd8d1;
	border-radius: 8px;
	background: #f7f7f7
}

.GBMapListTemplateTypeClassic .infowindow .content .address {
	font-size: 12px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important
}

.GBPhotoListTemplateTypeClassic {
	font-size: 0;
	padding-top: 10px
}

.GBPhotoListTemplateTypeClassic .photo {
	background: center center;
	background-size: cover;
	display: inline-block;
	margin: 10px;
	margin-top: 0
}

.GBPhotoListTemplateTypeClassic .nomarginleft {
	margin-left: 0 !important
}

.GBPhotoListTemplateTypePinterest {
	font-size: 0;
	position: relative
}

.GBPhotoListTemplateTypePinterest img {
	position: absolute;
	visibility: hidden;
	vertical-align: top;
	cursor: pointer
}

.GBPhotoListTemplateTypeInstagram {
	padding: 8px
}

.GBPhotoListTemplateTypeInstagram h2 {
	line-height: 1.3em;
	margin: 12px 0 8px 0
}

.GBPhotoListTemplateTypeInstagram h2.first {
	margin-top: 0
}

.GBPhotoListTemplateTypeInstagram date {
	float: left;
	margin-top: 8px
}

.GBPhotoListTemplateTypeInstagram img {
	width: 100%
}

.GBPhotoListTemplateTypeInstagram .toolbar {
	margin-top: 0;
	text-align: right
}

.GBPhotoListTemplateTypeInstagram .toolbar canvas,.GBPhotoListTemplateTypeInstagram .toolbar .canvas
	{
	cursor: pointer;
	width: 30px;
	height: 30px
}

.GBAgendaListTemplateTypeClassic .timeline,.GBAgendaDetailTemplateTypeToolbarUp .timeline
	{
	background-size: 100%;
	padding: 5px
}

.section-GBFacebookListTemplateTypeClassic .content-mousewheel {
	margin: 0 !important
}

.GBFacebookListTemplateTypeClassic article {
	margin-bottom: 15px
}

.GBFacebookListTemplateTypeClassic article .photo {
	float: left;
	width: 45px
}

.GBFacebookListTemplateTypeClassic article .infos {
	margin-left: 55px;
	margin-top: 10px
}

.GBFacebookListTemplateTypeClassic article .baseline {
	margin-bottom: 5px
}

.GBFacebookListTemplateTypeClassic article h2 {
	line-height: 16px;
	margin-bottom: 5px
}

.GBFacebookListTemplateTypeClassic article .desc {
	margin-top: 10px
}

.GBFacebookListTemplateTypeClassic article .content {
	margin-bottom: 10px
}

.GBFacebookListTemplateTypeClassic article h3 {
	font-weight: bold
}

.GBFacebookListTemplateTypeClassic article .type-link .photo {
	width: 90px
}

.GBFacebookListTemplateTypeClassic article .type-link .infos {
	margin-left: 100px
}

.GBFacebookListTemplateTypeClassic article .div-map canvas,.GBFacebookListTemplateTypeClassic article .div-map .canvas
	{
	height: auto
}

.GBFacebookListTemplateTypeClassic article .div-map .map {
	height: 100px;
	position: relative
}

.GBFacebookListTemplateTypeClassic article.page-info:first-child {
	height: 130px;
	background: #1d1d1d center center no-repeat;
	background-size: cover !important;
	padding: 0
}

.GBFacebookListTemplateTypeClassic article.page-info:first-child .cover
	{
	padding: 25px 8px;
	background: transparent url(../img/fbCover-gradient.png) left top
		no-repeat;
	background-size: cover
}

.GBFacebookListTemplateTypeClassic article.page-info .cover img {
	margin: 0
}

.GBFacebookListTemplateTypeClassic article.page-info .cover .infos {
	margin-top: 20px
}

.GBFacebookListTemplateTypeClassic article.page-info .cover h2 {
	margin-bottom: 8px;
	font-size: 16px
}

.GBFacebookListTemplateTypeClassic article.page-info h2 span {
	font-size: 1.3em;
	color: #FFF;
	text-shadow: 0 1px 1px #000
}

.GBFacebookListTemplateTypeClassic article.page-info .category {
	color: #FFF;
	text-shadow: 0 1px 1px #000;
	margin-top: 5px;
	font-size: 13px
}

.GBFacebookListTemplateTypeClassic article.page-info .baseline {
	line-height: 1.3em;
	margin-bottom: 15px
}

.GBFacebookListTemplateTypeClassic article.page-info .photo {
	width: 80px;
	height: 80px !important
}

.GBFacebookListTemplateTypeClassic article.page-info .infos {
	margin-left: 95px
}

.GBFacebookListTemplateTypeClassic article.page-info .like-count {
	display: inline-block
}

.GBFacebookListTemplateTypeClassic article.page-info .nblikes {
	position: relative
}

.GBFacebookListTemplateTypeClassic article.page-info .nblikes .nb {
	font-size: 1.8em;
	line-height: 1em
}

.GBFacebookListTemplateTypeClassic article.page-info .nblikes .ilike {
	vertical-align: top;
	margin-left: 15px;
	margin-top: 13px;
	width: 62px
}

.GBPluginTemplateTypeClassic iframe {
	width: 320px;
	height: 420px
}

.GBRootControllerTypeCustomTabBar .GBPluginTemplateTypeClassic iframe,.GBRootControllerTypeClassicTabBar .GBPluginTemplateTypeClassic iframe
	{
	height: 367px
}

.GBSubmitListTemplateTypeClassic td {
	vertical-align: middle
}

.GBSubmitListTemplateTypeClassic a.service {
	display: block;
	padding: 0 18px
}

.GBSubmitListTemplateTypeClassic .service canvas,.GBSubmitListTemplateTypeClassic .service .canvas
	{
	width: 61px;
	height: 61px;
	float: left;
	margin-right: 16px
}

.GBSubmitListTemplateTypeClassic .service h2 {
	margin-bottom: 5px
}

.GBSubmitDetailTemplateTypeClassic .inner {
	padding: 8px 10px
}

.GBSubmitDetailTemplateTypeClassic .form {
	width: 100%
}

.GBSubmitDetailTemplateTypeClassic textarea {
	margin-top: 10px
}

.GBSubmitDetailTemplateTypeClassic img.profile {
	float: left;
	margin-right: 8px;
	height: 40px
}

.GBSubmitDetailTemplateTypeClassic img.photo {
	width: 100%;
	margin-top: 10px
}

.GBSubmitDetailTemplateTypeClassic .infos-author {
	height: 40px
}

.section-GBSettingsListTemplateTypeClassic .content-mousewheel {
	margin: 0 !important
}

.GBSettingsListTemplateTypeClassic {
	padding: 15px 0 0 0
}

.GBSettingsListTemplateTypeClassic h2 {
	font-weight: 500;
	margin-bottom: 5px;
	padding-left: 10px
}

.GBSettingsListTemplateTypeClassic .bloc {
	border: 01px solid #e3e3e3;
	border-left: 0;
	border-right: 0;
	background: #fff;
	margin-bottom: 15px
}

.GBSettingsListTemplateTypeClassic .ss-bloc {
	border-top: 01px solid #e3e3e3
}

.GBSettingsListTemplateTypeClassic .ss-bloc a img.arrow {
	height: 14px;
	position: absolute;
	right: 10px;
	top: 14px
}

.GBSettingsListTemplateTypeClassic .ss-bloc a,.GBSettingsListTemplateTypeClassic .ss-bloc .ss-bloc-inner
	{
	position: relative;
	font-weight: 500;
	display: block;
	padding: 0 10px;
	line-height: 42px;
	border-top: 1px solid #FFF
}

.GBSettingsListTemplateTypeClassic .ss-bloc:first-child,.GBSettingsListTemplateTypeClassic .ss-bloc:first-child a,.GBSettingsListTemplateTypeClassic .ss-bloc:first-child .ss-bloc-inner
	{
	border: 0
}

.GBSettingsListTemplateTypeClassic .ss-bloc-inner img.service {
	height: 23px;
	margin-right: 10px
}

.GBSettingsListTemplateTypeClassic .ss-bloc-inner img.switch-on-off {
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 10px;
	height: 41px
}

body.iphone .GBRootControllerTypeClassicTabBar .section-GBSettingsListTemplateTypeClassic
	{
	background: #efeff4
}

body.iphone .GBRootControllerTypeClassicTabBar .section-GBSettingsListTemplateTypeClassic img.arrow
	{
	background: #e3e3e3 !important
}

body.android .GBSettingsListTemplateTypeClassic {
	padding: 15px
}

body.android .GBSettingsListTemplateTypeClassic h2 {
	border-bottom: 02px solid #FFF;
	padding-left: 0
}

body.android .GBSettingsListTemplateTypeClassic .bloc {
	background: transparent;
	border: 0
}

body.android .GBSettingsListTemplateTypeClassic .ss-bloc a,body.android .GBSettingsListTemplateTypeClassic .ss-bloc .ss-bloc-inner
	{
	border: 0
}

body.android .GBSettingsListTemplateTypeClassic .arrow {
	display: none
}

body.android .GBSettingsListTemplateTypeClassic .ss-bloc-inner img.switch-on-off
	{
	right: 0;
	top: 10px;
	height: 24px
}

.GBSoundListTemplateTypeSoundCloud article .photo {
	background-size: 74px
}

.GBSoundListTemplateTypeSoundCloud article.page-info .photo {
	width: 120px;
	height: 120px;
	background-size: 120px
}

.GBSoundListTemplateTypeSoundCloud article.page-info .infos {
	margin-left: 136px
}

.GBSoundListTemplateTypeSoundCloud article.page-info .infos h2 {
	margin-bottom: 5px
}

.GBSoundListTemplateTypeSoundCloud article.page-info .infos span {
	font-size: 1.3em
}

.GBSoundListTemplateTypeSoundCloud article.page-info .infos span.icon-music
	{
	font-size: 1.6em;
	vertical-align: middle
}

.GBSoundListTemplateTypeSoundCloud article.page-info .follow {
	margin-top: 10px
}

.GBSoundListTemplateTypeSoundCloud article.page-info .follow img {
	width: 112px
}

.GBSoundDetailTemplateTypeSoundCloud {
	text-align: center
}

.GBSoundDetailTemplateTypeSoundCloud .subtitle {
	margin: 20px 0 5px 0
}

.GBSoundDetailTemplateTypeSoundCloud .subtitle span {
	font-size: 1.2em
}

.GBSoundDetailTemplateTypeSoundCloud .cover {
	width: 208px;
	height: 208px;
	margin: 0 auto;
	background: url(../img/soundcloud416x416.png);
	background-size: auto 100%;
	margin-bottom: 10px;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.GBSoundDetailTemplateTypeSoundCloud .cover img {
	width: 208px;
	height: 208px
}

.GBSoundDetailTemplateTypeSoundCloud .bg-cover {
	position: absolute;
	width: 320px;
	background: center center;
	background-size: auto 100%;
	opacity: .1
}

.GBSoundDetailTemplateTypeSoundCloud .infos {
	position: absolute;
	width: 320px
}

.GBSoundDetailTemplateTypeSoundCloud .infos h2 {
	width: 208px;
	margin: 0 auto;
	word-wrap: break-word;
	line-height: .8em
}

.GBSoundDetailTemplateTypeSoundCloud .infos h2 span {
	font-size: .8em
}

.GBSoundDetailTemplateTypeClassic table.controls {
	height: 113px
}

.GBSoundDetailTemplateTypeClassic table.controls td {
	width: 20%;
	padding-top: 10px;
	text-align: center
}

.sound-player {
	position: absolute;
	width: 320px;
	bottom: 0
}

.GBLiveListTemplateTypeClassic h2 {
	text-align: center;
	padding-top: 40px;
	width: 250px;
	margin: 0 auto
}

.GBLiveListTemplateTypeClassic .circle {
	position: absolute;
	width: 207px;
	height: 207px;
	text-align: center;
	margin: auto;
	background-size: 100%;
	margin: 0 auto
}

.GBLiveListTemplateTypeClassic .circle a {
	z-index: 100;
	position: absolute;
	left: 85px;
	top: 75px
}

.GBLiveListTemplateTypeClassic .circle a img {
	width: 52px;
	height: 57px
}

.GBLiveListTemplateTypeClassic .ball {
	background-color: rgba(0, 0, 0, 0);
	border: 21px solid blue;
	border-top: 21px solid rgba(0, 0, 0, 0) !important;
	border-left: 21px solid rgba(0, 0, 0, 0) !important;
	border-radius: 186px;
	width: 165px;
	height: 165px;
	opacity: .9;
	margin: 0 auto;
	-moz-animation: spin 5s infinite linear;
	-webkit-animation: spin 5s infinite linear
}

@
-moz-keyframes spin { 0%{
	-moz-transform: rotate(0deg)
}

100%{
-moz-transform
:rotate(360deg)
}
}
@
-moz-keyframes spinoff { 0%{
	-moz-transform: rotate(0deg)
}

100%{
-moz-transform
:rotate(-360deg)
}
}
@
-webkit-keyframes spin { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(360deg)
}
}
@
-webkit-keyframes spinoff { 0%{
	-webkit-transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(-360deg)
}
}
.GBLiveListTemplateTypePlus h2 {
	text-align: center;
	padding-top: 30px;
	width: 200px;
	margin: 0 auto;
	height: 90px
}

.GBLiveListTemplateTypePlus .light .bg {
	background: rgba(237, 237, 237, 0.2)
}

.GBLiveListTemplateTypePlus .dark .bg {
	background: rgba(0, 0, 0, 0.2)
}

.GBLiveListTemplateTypePlus .div-infos {
	padding: 10px;
	margin: 0 10px 5px 10px
}

.GBLiveListTemplateTypePlus .track-infos {
	line-height: 1.5em
}

.GBLiveListTemplateTypePlus .pager {
	text-align: center
}

.GBLiveListTemplateTypePlus .bullet {
	border-radius: 9px;
	margin: 0 1px;
	display: inline-block;
	width: 9px;
	height: 9px;
	line-height: 9px !important
}

.GBLiveListTemplateTypePlus a.player {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 100px;
	height: 100px;
	border-radius: 100px
}

.GBLiveListTemplateTypePlus a.player img {
	width: 42px;
	height: 48px;
	margin: 26px 0 0 10px
}

.GBLiveListTemplateTypePlus .track-cover {
	width: 100px;
	height: 100px;
	float: left;
	background: url(../img/iphone/liveplayerplus-default.png) no-repeat
		center;
	background-size: 100%
}

.GBLiveListTemplateTypePlus .infos {
	min-height: 100px;
	margin-left: 110px;
	position: relative;
	text-align: left
}

.GBLiveListTemplateTypePlus .infos .buttons {
	position: absolute;
	right: 0;
	bottom: 0
}

.GBLiveListTemplateTypePlus .infos .buttons img {
	cursor: pointer;
	width: 25px;
	margin-left: 10px
}

.GBRootControllerTypeTypo section.home .home-menu a {
	display: inline-block;
	padding: 0 .4em;
	line-height: 1.8em
}

.GBRootControllerTypeLargeTypo section.home table {
	font-size: 460px;
	width: 100%
}

.GBRootControllerTypeLargeTypo section.home td {
	vertical-align: middle
}

.GBRootControllerTypeLargeTypo section.home td a {
	display: block;
	cursor: pointer;
	padding: 0 10px;
	white-space: nowrap
}

.GBRootControllerTypeSlate section.home .home-menu,.GBRootControllerTypeGrid section.home .home-menu
	{
	background-size: cover;
	width: 240px;
	position: absolute;
	text-align: center
}

.GBRootControllerTypeSlate section.home .home-menu h2 {
	height: 40px;
	background: no-repeat center top
}

.GBRootControllerTypeSlate section.home .home-menu a,.GBRootControllerTypeSlate section.home .home-menu h2
	{
	display: block;
	padding: 8px 0
}

.GBRootControllerTypeGrid section.home .home-menu {
	width: 320px
}

.GBRootControllerTypeGrid section.home h2 {
	padding-top: 10px;
	height: 90px;
	text-align: center
}

.GBRootControllerTypeGrid section.home canvas,.GBRootControllerTypeGrid section.home .canvas
	{
	width: 50px;
	height: 50px;
	margin-bottom: 4px
}

.GBRootControllerTypeGrid section.home a {
	display: inline-block
}

.GBRootControllerTypeGrid section.home a span {
	display: block;
	height: 1.3em;
	overflow: hidden
}

.GBRootControllerTypeGrid section.home .nbicons-4 a {
	width: 150px;
	height: 120px;
	padding-top: 30px
}

.GBRootControllerTypeGrid section.home .nbicons-6 a {
	width: 150px;
	height: 105px
}

.GBRootControllerTypeGrid section.home .nbicons-9 a {
	width: 90px;
	height: 110px
}

.GBRootControllerTypeGrid section.home .pager,.GBRootControllerTypeSlate section.home .pager
	{
	text-align: center;
	word-spacing: -1px;
	line-height: 18px
}

.GBRootControllerTypeSlate section.home .pager {
	margin: 10px 0
}

.GBRootControllerTypeGrid section.home .pager span,.GBRootControllerTypeSlate section.home .pager span
	{
	cursor: pointer;
	border-radius: 8px 8px 8px 8px;
	border: 1px solid transparent;
	margin: 0 2px;
	display: inline-block;
	width: 8px;
	height: 8px;
	line-height: 8px !important;
	padding: 0 !important
}