#root {
	margin-left: 0;
	height: 100% !important
}

#root,#root section {
	width: 100%;
	height: auto
}

#other-sections,.fullscreen {
	width: 100%;
	height: auto
}

header.navBar {
	position: fixed;
	z-index: 10;
	width: 100%;
	background-size: 100% 100% !important
}

header.navBar.ui-fixed-hidden {
	position: absolute
}

header.navBar .ui-btn-left {
	top: 0;
	left: 0
}

header.navBar label.button-send {
	padding-left: 0
}

header.navBar.withCircleBand {
	height: 82px;
	background-size: 100% 44px !important
}

header.navBar.withCircleBand>span {
	display: inline-block
}

#root section {
	float: none
}

.locked {
	overflow: hidden !important;
	position: relative !important
}

#fake-bg-header {
	position: fixed;
	width: 100%;
	height: 1096px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #000000 !important; 
	 background-image: url("http://praxis.natural.moodsy.me/static/files/effectBackgroundImage@2x.png?v=1400346739") !important;
}
#fake-bg {
	position: fixed;
	width: 100%;
	height: 1096px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: #000000 !important; 
	 background-image: url("http://praxis.natural.moodsy.me/static/files/effectBackgroundImage@2x.png?v=1400346739") !important;
}

#fake-bg-header {
	height: 44px;
	z-index: 1
}

.locked #fake-bg,.locked #fake-bg-header {
	z-index: -100
}

textarea {
	resize: none;
	transition: none !important;
	-webkit-transition: none !important;
	margin: 0 !important
}

input.error,textarea.error {
	border: 1px solid red;
	color: red;
	background-color: #feecec
}

.novisibility {
	position: absolute !important;
	left: -80000px !important
}

.hidden {
	display: none !important
}

#obstrusive-loading {
	position: absolute;
	z-index: 10000000;
	width: 100%;
	height: 1000000px;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	display: none
}

article .photo {
	background-size: cover !important
}

.form,input.form,textarea.form {
	border: 1px solid #dadada !important;
	padding: 8px !important
}

.ui-input-text {
	padding: 0 !important
}

iframe {
	width: 100% !important
}

.GBRootControllerTypeCustomTabBar .main-content {
	padding-bottom: 0
}

.GBRootControllerTypeCustomTabBar nav.menu table {
	width: 100%
}

.GBRootControllerTypeCustomTabBar nav.menu table td {
	overflow: hidden
}

#root section.menu {
	height: 100%;
	width: 80% !important;
	margin-left: -80%
}

#root section.home {
	height: 100%;
	width: 100% !important;
	margin-left: -100%
}

#root.GBRootControllerTypeLittleSwipe section.menu {
	height: 100%;
	margin-left: -28%;
	width: 28% !important
}

#root.locked section.menu,#root.locked section.home {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch
}

.GBRootControllerTypeFacebookMenu section.menu {
	background-position: left top !important
}

.GBRootControllerTypeFacebookMenu section.menu .shadow {
	height: 100%;
	z-index: auto
}

#root.GBRootControllerTypeLittleSwipe {
	margin-left: 0
}

.GBRootControllerTypeLittleSwipe section.menu a span {
	width: 100%
}

.GBRootControllerTypeLittleSwipe section.menu header,.GBRootControllerTypeLittleSwipe section.menu li
	{
	background-size: cover
}

.GBCategoriesTemplateTypeList .subsections {
	float: none;
	width: 100%;
	height: 100%
}

.GBCategoriesTemplateTypeCircleBand .subsections {
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch
}

.GBCategoriesTemplateTypeCircleBand .subsections li a span {
	vertical-align: middle
}

.GBCategoriesTemplateTypeCircleBand.ui-footer-fixed {
	top: 44px;
	bottom: auto
}

.GBCategoriesTemplateTypeCircleBand .subsections ul {
	min-width: 100% !important
}

.GBCategoriesTemplateTypeFilters .subsections {
	width: 100%;
	position: relative
}

.GBCategoriesTemplateTypeFilters .subsections .filter {
	margin-top: 0
}

.GBCategoriesTemplateTypeFilters .subsections .light {
	background-position: center
}

header.GBSearchTemplate {
	position: relative;
	z-index: auto;
	visibility: hidden
}

header.GBSearchTemplate form {
	position: relative;
	padding: 8px 10px 10px
}

header.GBSearchTemplate .ui-input-search {
	margin: 0;
	border-radius: 16px;
	background: url("../img/iphone/search-magnifying.png") no-repeat scroll
		10px 7px #fff;
	background-size: 14px 15px;
	-moz-box-shadow: 2px 2px 2px 0 #ddd inset;
	-webkit-box-shadow: 2px 2px 2px 0 #ddd inset;
	box-shadow: 2px 2px 2px 0 #ddd inset;
	padding: 5px 30px 6px;
	border: 1px solid #a8a8a8
}

header.GBSearchTemplate .ui-input-search input,.desktop header.GBSearchTemplate .ui-input-text input
	{
	width: 100%;
	margin: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
	background: 0;
	border: 0
}

header.GBSearchTemplate .ui-input-search.focus {
	margin-right: 81px;
	margin-top: 10px
}

header.GBSearchTemplate .button-send {
	top: 0
}

header.GBSearchTemplate .search-close {
	left: auto;
	right: 87px;
	top: 6px;
	display: none
}

header.GBSearchTemplate .close-searchbar {
	display: none
}

.GBSearchTemplate ul.search-history {
	margin: 0
}

.GBSearchTemplate ul li {
	padding-left: 10px;
	position: relative;
	line-height: 44px
}

.GBSearchTemplate ul li a {
	display: block;
	z-index: 1000
}

.GBSearchTemplate .canvas.arrow {
	width: 8px;
	height: 12px;
	top: 50%;
	margin-top: -6px;
	left: auto;
	right: 10px;
	position: absolute
}

.GBArticleListTemplateTypeGrid a {
	width: 50%
}

.GBArticleListTemplateTypeGrid a article {
	margin-left: 6px
}

.GBArticleListTemplateTypeGrid a.half-left article {
	margin-right: 6px;
	margin-left: 0
}

.GBArticleListTemplateTypeGrid a .photo {
	padding-top: 57.25%
}

.GBArticleListTemplateTypeUneGrid a.half-left,.GBArticleListTemplateTypeUneGrid a.half-right
	{
	width: 50%
}

.GBArticleListTemplateTypeUneGrid a.half-left article {
	margin-right: 6px
}

.GBArticleListTemplateTypeUneGrid a.half-right article {
	margin-left: 6px
}

.GBArticleListTemplateTypeUneGrid .same-height article .photo {
	padding-top: 57.25%
}

.GBArticleListTemplateTypeUneGrid article.first .photo {
	height: auto !important;
	line-height: auto !important;
	padding-top: 38%
}

.GBArticleListTemplateTypeVisuels article .photo {
	height: auto;
	line-height: auto;
	padding-top: 47%
}

.GBArticleListTemplateTypeSlideShow .slideshow .infos {
	left: 0;
	right: 0
}

.GBArticleListTemplateTypeSlideShow .slideshow .photo-resize {
	padding-top: 60.5%
}

.GBArticleListTemplateTypeMinimalColor .bg,.GBArticleListTemplateTypeMinimalPhotos .bg
	{
	display: block
}

.GBArticleListTemplateTypeMinimalPhotos .text {
	bottom: 10%
}

.GBArticleDetailTemplateTypeClassic {
	position: static
}

.GBArticleDetailTemplateTypeClassic .ui-footer-fixed {
	background-size: 100% auto;
	height: 44px
}

.GBArticleDetailTemplateTypeClassic div.ui-footer-fixed {
	z-index: 100
}

.GBArticleDetailTemplateTypeToolBarUp,.GBPhotoDetailTemplateTypeToolBarUp,.GBArticleDetailTemplateTypeToolBarSlide
	{
	position: static
}

.GBArticleDetailTemplateTypeToolBarUp .ui-footer-fixed {
	height: 18px
}

.GBPhotoDetailTemplateTypeToolBarUp div.ui-footer-fixed {
	height: 55px;
	overflow: hidden
}

.GBPhotoDetailTemplateTypeToolBarUp div.ui-footer-fixed .description {
	padding: 5px
}

.GBPhotoDetailTemplateTypeToolBarUp .encapse-photo {
	text-align: center
}

.GBPhotoDetailTemplateTypeToolBarUp img.detail-photo {
	width: auto;
	max-width: 100%;
	max-height: 100%
}

.GBAgendaDetailTemplateTypeToolbarUp .div-button img.canvas {
	margin: 0;
	height: 18px !important;
	max-width: inherit !important
}

.GBAgendaDetailTemplateTypeToolbarUp .div-button img.canvas.button-event
	{
	height: 34px !important
}

.GBArticleDetailTemplateTypeToolBarSlide .ui-footer-fixed {
	left: auto;
	width: 56px;
	top: 44px;
	text-align: center;
	bottom: auto
}

.GBArticleDetailTemplateTypeToolBarSlide .ui-footer-fixed.ui-fixed-hidden
	{
	top: -500px
}

.panel-GBArticleDetailTemplateTypeToolBarSwipe {
	width: 56px;
	text-align: center
}

.panel-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-inner {
	padding: 0
}

.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe.ui-panel-dismiss-position-right.ui-panel-dismiss-open,.panel-GBArticleDetailTemplateTypeToolBarSwipe.ui-panel-open 
	~ .GBArticleDetailTemplateTypeToolBarUp>div {
	left: -56px;
	right: 56px
}

.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,.panel-GBArticleDetailTemplateTypeToolBarSwipe.ui-panel-open.ui-panel-animate 
	~ .GBArticleDetailTemplateTypeToolBarUp>div {
	left: 0;
	right: 0;
	-moz-transform: translate3d(-56px, 0px, 0px);
	-webkit-transform: translate3d(-56px, 0px, 0px);
	transform: translate3d(-56px, 0px, 0px)
}

.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-position-right.ui-panel-display-push
	{
	-moz-transform: translate3d(56px, 0px, 0px);
	-webkit-transform: translate3d(56px, 0px, 0px);
	transform: translate3d(56px, 0px, 0px)
}

.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-position-right.ui-panel-open.ui-panel-display-overlay,.section-detail-GBArticleDetailTemplateTypeToolBarSwipe .ui-panel-animate.ui-panel-position-right.ui-panel-open.ui-panel-display-push
	{
	-moz-transform: none;
	-webkit-transform: none;
	transform: none
}

.section-detail-GBArticleDetailTemplateTypeToolBarSwipe header {
	z-index: 1000
}

.GBCommentTemplateTypeClassic form input[type=text],.GBCommentTemplateTypeClassic form input[type=email]
	{
	margin-bottom: 10px
}

.GBCommentTemplateTypeClassic form textarea {
	margin-top: 10px
}

.GBCommentTemplateTypeClassic .ui-footer-fixed {
	height: 44px;
	line-height: 44px
}

.GBCommentTemplateTypeClassic .button-edit {
	width: 17px;
	height: 17px;
	padding: 5px 7px
}

.GBCommentTemplateTypeClassic .arrow-comment {
	position: absolute;
	right: 7px;
	top: 50%;
	left: 31px;
	margin-top: -13px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 1px
		rgba(0, 0, 0, 0.4) inset;
	padding-left: 5px;
	height: 27px;
	line-height: 27px;
	background: #FFF;
	color: #9f9f9f;
	font-size: 11px
}

.GBShareTemplateTypeClassic .ui-content {
	position: relative
}

.GBShareTemplateTypeClassic #charcounter {
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: #dcdcdc;
	border-radius: 2px;
	padding: 2px 8px;
	font-size: 11px;
	color: #333
}

.GBShareTemplateTypeClassic textarea {
	border: none !important
}

.GBShareTemplateTypeClassic .cartouche {
	height: 44px;
	line-height: 44px;
	background: url(../img/iphone/share-cartouche.png) left top repeat-x;
	background-size: auto 100%
}

.GBShareTemplateTypeClassic .cartouche img {
	height: 29px;
	cursor: pointer
}

.GBShareTemplateTypeClassic .cartouche img:first-child {
	margin-left: 10px
}

.GBShareTemplateTypeClassic .cartouche .right {
	float: right;
	margin-right: 10px
}

.GBPhotoListTemplateTypeClassic {
	padding: 10px 5px 0
}

.GBPhotoListTemplateTypeClassic .photo-block {
	display: inline-block;
	width: 25%
}

.GBPhotoListTemplateTypeClassic.scrollbarfix .photo-block {
	width: 24.7%
}

.GBPhotoListTemplateTypeClassic .photo-block>div {
	margin: 0 5px 10px
}

.GBPhotoListTemplateTypeClassic .photo-block>div a.photo {
	display: block;
	padding-top: 100%;
	margin: 0
}

.GBPhotoListTemplateTypeInstagram>div.relative {
	padding-top: 75%
}

.GBPhotoListTemplateTypeInstagram>div.relative img {
	position: absolute;
	top: 0
}

.section-GBFacebookListTemplateTypeClassic .ui-content {
	margin: 0 !important
}

.GBSoundDetailTemplateTypeClassic audio {
	display: none;
	height: 0
}

.GBSoundDetailTemplateTypeClassic table.controls {
	height: 113px
}

.GBSoundDetailTemplateTypeClassic table.controls td {
	width: 20%;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle
}

.GBSoundDetailTemplateTypeClassic table.controls td img {
	height: 46px
}

.GBSoundDetailTemplateTypeClassic table.controls td a.player-play img {
	height: 57px
}

.GBSoundDetailTemplateTypeClassic table.controls td.controls-action {
	vertical-align: middle
}

.GBSoundDetailTemplateTypeClassic table.controls td.controls-action img
	{
	height: 21px
}

.GBSoundDetailTemplateTypeClassic table.controls .ui-slider-handle {
	background: url(../img/iphone/audio-cursor-light.png) left top no-repeat;
	background-size: 100% auto;
	width: 20px
}

.GBSoundDetailTemplateTypeClassic table.controls .ui-slider {
	margin: 0;
	width: 100%;
	height: 10px;
	top: 2px;
	border-radius: .6em;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px
		rgba(255, 255, 255, 0.87);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px
		rgba(255, 255, 255, 0.87);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 1px
		rgba(255, 255, 255, 0.87);
	background-color: rgba(0, 0, 0, 0.2)
}

.GBSoundDetailTemplateTypeClassic table.controls .ui-slider-track,.ui-slider-switch
	{
	height: 10px;
	top: 0;
	margin: 0
}

.GBSoundDetailTemplateTypeClassic table.controls a.ui-btn.ui-slider-handle
	{
	margin: -11px 0 0 -8px
}

.GBSoundDetailTemplateTypeClassic table.controls tr.progressbar td {
	visibility: hidden;
	font-size: 12px;
	line-height: 25px
}

.GBSoundDetailTemplateTypeClassic table.controls td.timelapse-dark {
	color: #e7e7e7
}

.GBSoundDetailTemplateTypeClassic table.controls td.timelapse-light {
	color: #404040
}

.GBSoundDetailTemplateTypeClassic table.controls td.progress-light .ui-slider-handle
	{
	background-image: url(../img/iphone/audio-cursor-dark.png)
}

.GBSoundDetailTemplateTypeClassic table.controls td.progress-light .ui-slider
	{
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset, 0 1px 1px
		rgba(255, 255, 255, 0.55);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset, 0 1px 1px
		rgba(255, 255, 255, 0.55);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) inset, 0 1px 1px
		rgba(255, 255, 255, 0.55);
	background-color: rgba(236, 236, 236, 0.80)
}

.GBSoundDetailTemplateTypeClassic table.controls td .ui-slider-bg,.GBSoundDetailTemplateTypeSoundCloud table.controls td.progress-light .ui-slider-bg
	{
	border-radius: .6em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2),
		to(#dfdfdf) );
	background-image: -webkit-linear-gradient(#f2f2f2, #dfdfdf);
	background-image: -moz-linear-gradient(#f2f2f2, #dfdfdf);
	background-image: -ms-linear-gradient(#f2f2f2, #dfdfdf);
	background-image: -o-linear-gradient(#f2f2f2, #dfdfdf);
	background-image: linear-gradient(#f2f2f2, #dfdfdf)
}

.GBSoundDetailTemplateTypeClassic table.controls td.progress-light .ui-slider-bg,.GBSoundDetailTemplateTypeSoundCloud table.controls td .ui-slider-bg
	{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555454),
		to(#302f2f) );
	background-image: -webkit-linear-gradient(#555454, #302f2f);
	background-image: -moz-linear-gradient(#555454, #302f2f);
	background-image: -ms-linear-gradient(#555454, #302f2f);
	background-image: -o-linear-gradient(#555454, #302f2f);
	background-image: linear-gradient(#555454, #302f2f)
}

.GBSoundDetailTemplateTypeSoundCloud .cover {
	width: 65%;
	padding-top: 65%;
	height: auto;
	position: relative
}

.landscape .GBSoundDetailTemplateTypeSoundCloud .cover {
	width: 20%;
	padding-top: 20%
}

.GBSoundDetailTemplateTypeSoundCloud .cover img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute
}

.GBSoundDetailTemplateTypeSoundCloud .infos {
	width: 100%
}

.GBSoundDetailTemplateTypeSoundCloud .bg-cover {
	width: 100%;
	background-repeat: no-repeat
}

.landscape .GBSoundDetailTemplateTypeSoundCloud .bg-cover {
	background-size: 100% auto
}

.landscape .GBSoundDetailTemplateTypeSoundCloud table.controls {
	display: none
}

.GBSoundDetailTemplateTypeSoundCloud table.controls tr.progressbar td {
	padding-left: 10%;
	padding-right: 10%
}

.GBSoundDetailTemplateTypeSoundCloud.GBSoundDetailTemplateTypeClassic table.controls tr.buttons td
	{
	-webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2) inset
}

.GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons div {
	padding: 6px;
	font-size: 33px;
	width: 155px;
	margin: 0 auto;
	background-size: 161px auto;
	background-repeat: no-repeat;
	background-position: 3px 1px
}

.GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons td a img
	{
	height: 40px
}

.GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons td a.player-play img
	{
	height: 51px
}

.GBLiveListTemplateTypeClassic video,.GBLiveListTemplateTypeClassic audio
	{
	top: -100000px;
	visibility: hidden;
	position: absolute
}

.GBLiveListTemplateTypeClassic .circle {
	top: 50%;
	left: 50%;
	margin: -104px auto 0 -104px
}

.landscape .GBLiveListTemplateTypeClassic .circle {
	background-image: none !important
}

.GBSubmitListTemplateTypeClassic table {
	width: 100%
}

.GBSubmitDetailTemplateTypeClassic .center {
	text-align: center
}

.GBSubmitDetailTemplateTypeClassic textarea {
	margin-top: 10px !important
}

.section-detail  ~ .ui-popup-screen.in {
	z-index: 1100
}

.GBPluginTemplateTypeClassic iframe {
	width: 100%
}

.GBBookmarkListTemplateTypeClassic article.noitems {
	padding: 0
}

.GBDeactivatedTemplateTypeClassic article img {
	width: 171px;
	max-width: 100%;
	max-height: 90%
}

.landscape .GBDeactivatedTemplateTypeClassic article img {
	width: auto
}

.GBRootControllerTypeGrid section.home h2 {
	background-size: 100% auto
}

.GBRootControllerTypeGrid section.home .home-menu {
	width: 100%;
	top: 50%
}

.GBRootControllerTypeGrid section.home .home-sections,.GBRootControllerTypeSlate section.home .home-sections
	{
	display: none
}

.GBRootControllerTypeGrid section.home .home-sections:first-child,.GBRootControllerTypeSlate section.home .home-sections:first-child
	{
	display: block
}

.GBRootControllerTypeGrid section.home .nbicons-9 a {
	width: 30%
}

.GBRootControllerTypeGrid section.home .nbicons-6 a,.GBRootControllerTypeGrid section.home .nbicons-4 a
	{
	width: 45%
}

.GBRootControllerTypeSlate section.home .home-menu {
	width: 75%
}

.GBRootControllerTypeLargeTypo section.home table,.GBRootControllerTypeScratch section.home iframe
	{
	height: 100%
}

.GBLoginTemplate p {
	color: #FFF;
	text-align: center;
	margin-bottom: 30px
}

.GBLoginTemplate a {
	display: block;
	margin-bottom: 20px
}

.GBLoginTemplate a img {
	width: 200px
}

#root section.ui-page,[data-role=page] {
	display: none !important
}

#root section.ui-page-active {
	display: block !important
}

.ui-content {
	padding: 0;
	overflow: hidden
}

.ui-popup-screen.in {
	background: rgba(0, 0, 0, 0.7);
	opacity: 1
}

input[type=number] {
	display: none !important
}

body.nofixed {
	height: 100% !important
}

.nofixed .ui-page {
	padding: 0 !important
}

.nofixed #fake-bg,.nofixed #fake-bg-header {
	display: none
}

.nofixed header.navBar {
	position: relative;
	margin-left: 0 !important
}

.nofixed .ui-footer-fixed {
	position: relative;
	max-width: 100%;
	overflow: hidden
}

.nofixed .GBArticleDetailTemplateTypeClassic .ui-footer-fixed {
	margin-bottom: -44px
}

.nofixed .GBArticleDetailTemplateTypeToolBarUp .ui-footer-fixed {
	margin-bottom: -18px
}

.nofixed .GBSearchTemplate .close-searchbar {
	display: none
}

.nofixed .GBSearchTemplate .ui-input-search {
	margin-right: 10px
}

.nofixed .ui-panel {
	position: absolute !important
}

.desktop .GBArticleListTemplateTypeUneGrid a.half-left article,.desktop .GBArticleListTemplateTypeGrid a.half-left article
	{
	margin-right: 12px
}

.desktop .GBArticleListTemplateTypeUneGrid a.half-right article,.desktop .GBArticleListTemplateTypeGrid a article
	{
	margin-left: 12px
}

.desktop .GBPhotoListTemplateTypeClassic {
	padding: 20px 10px 0
}

.desktop .GBPhotoListTemplateTypeClassic .photo-block>div {
	margin: 0 10px 20px
}

.desktop .GBArticleDetailTemplateTypeClassic .ui-footer-fixed {
	height: 88px
}

.desktop .GBArticleDetailTemplateTypeToolBarUp .ui-footer-fixed,.desktop .GBAgendaDetailTemplateTypeToolbarUp .div-button img.canvas
	{
	height: 36px !important
}

.desktop .GBPhotoDetailTemplateTypeToolBarUp div.ui-footer-fixed {
	height: 110px
}

.desktop .GBPhotoDetailTemplateTypeToolBarUp div.ui-footer-fixed .description
	{
	padding: 10px
}

.desktop .GBAgendaDetailTemplateTypeToolbarUp .div-button img.canvas.button-event
	{
	height: 68px !important
}

.desktop .GBSoundDetailTemplateTypeClassic table.controls {
	height: 226px
}

.desktop .GBSoundDetailTemplateTypeClassic table.controls td {
	padding: 20px 0
}

.desktop .GBSoundDetailTemplateTypeClassic table.controls td img {
	height: 92px
}

.desktop .GBSoundDetailTemplateTypeClassic table.controls td a.player-play img
	{
	height: 114px
}

.desktop .GBSoundDetailTemplateTypeClassic table.controls td.controls-action img
	{
	height: 42px
}

.desktop .GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons div
	{
	padding: 12px;
	font-size: 66px;
	width: 310px;
	margin: 0 auto;
	background-size: 322px auto;
	background-repeat: no-repeat;
	background-position: 6px 0
}

.desktop .GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons td a img
	{
	height: 80px
}

.desktop .GBSoundDetailTemplateTypeSoundCloud table.controls tr.buttons td a.player-play img
	{
	height: 102px
}

.desktop .GBCommentTemplateTypeClassic form input[type=text],.desktop .GBCommentTemplateTypeClassic form input[type=email]
	{
	margin-bottom: 20px
}

.desktop .GBCommentTemplateTypeClassic form textarea {
	margin-top: 20px
}

.desktop .GBCommentTemplateTypeClassic .ui-footer-fixed,.desktop .GBShareTemplateTypeClassic .ui-footer-fixed
	{
	height: 88px;
	line-height: 88px
}

.desktop .GBCommentTemplateTypeClassic .button-edit {
	width: 34px;
	height: 34px;
	padding: 10px 14px
}

.desktop .GBCommentTemplateTypeClassic .arrow-comment {
	padding-left: 10px;
	height: 54px;
	line-height: 54px;
	right: 14px;
	top: 50%;
	left: 58px;
	margin-top: -27px;
	font-size: 22px
}

.desktop .GBLiveListTemplateTypeClassic .circle {
	margin: -207px auto 0 -207px
}

.desktop header.GBSearchTemplate .ui-input-search {
	margin: 32px 20px 20px 20px;
	border-radius: 32px;
	background: url("../img/iphone/search-magnifying.png") no-repeat scroll
		20px 14px #fff;
	background-size: 28px 30px;
	-moz-box-shadow: 4px 4px 4px 0 #ddd inset;
	-webkit-box-shadow: 4px 4px 4px 0 #ddd inset;
	box-shadow: 4px 4px 4px 0 #ddd inset;
	padding: 10px 60px 12px
}

.desktop header.GBSearchTemplate .ui-input-search.focus {
	margin-right: 162px;
	margin-top: 20px
}

.desktop header.GBSearchTemplate .search-close {
	right: 174px;
	top: 12px
}

.desktop .GBSearchTemplate ul li {
	padding-left: 20px;
	line-height: 88px
}

.desktop .GBSearchTemplate .canvas.arrow {
	width: 16px;
	height: 24px;
	margin-top: -12px;
	right: 20px
}

.desktop .GBShareTemplateTypeClassic .cartouche img {
	height: 58px
}

.desktop .GBShareTemplateTypeClassic .cartouche img:first-child {
	margin-left: 20px
}

.desktop .GBShareTemplateTypeClassic .cartouche .right {
	float: right;
	margin-right: 20px
}

.desktop .GBShareTemplateTypeClassic #charcounter {
	padding: 4px 16px;
	font-size: 22px;
	border-radius: 4px;
	right: 20px;
	bottom: 20px
}

.desktop .GBDeactivatedTemplateTypeClassic article img {
	width: 342px
}

.desktop .GBCategoriesTemplateTypeCircleBand.ui-footer-fixed {
	top: 88px
}

.nofixed.desktop .GBArticleDetailTemplateTypeClassic .ui-footer-fixed {
	margin-bottom: -88px
}

.nofixed.desktop .GBArticleDetailTemplateTypeToolBarUp .ui-footer-fixed
	{
	margin-bottom: -36px
}

.nofixed.desktop .GBSearchTemplate .ui-input-search {
	margin-right: 20px
}